/* Global styles */

* {
  font-family: satoshi, helvetica, arial;
  margin: 0;
  padding: 0;
  box-shadow: 0;
  text-decoration: none;
  background-color: var(--tw-bg-white);
  box-sizing: border-box;
}

.card {
  height: 400px;
  width: 100%; /* Full width on mobile */
  max-width: 300px; /* Maximum width */
  box-shadow: var(--tw-shadow-sm);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: var(--tw-shadow-lg);
}

.card:active {
  transform: scale(0.95);
  box-shadow: var(--tw-shadow-sm);
}

/* Banner offer sales */
.offer-sales-container {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sales-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  animation: fadeIn 2s ease-in-out infinite alternate;
}

.sales-text {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
